extends layout

block content
  h1= title
  p All of us at Northwest are #{bearcat}s, and we all show #{title}. Always remember, "#{oabaab}"
  p Why not add another line?
  p Or another line??
  p Or another line?
  h1 Or THIS!
